* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pos-curah-hujan-info {
  background-color: #191970 !important;
  color: #FFFFFF !important;
  border: unset !important;
  padding: 8px !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.pos-curah-hujan-info::before {
  border-top-color: #191970 !important;
}